.my_background_grey {
    background-color: #2C3E50;
}

.my_background_green {
    background-color: #53BC9D;
}

.my_background_light_grey {
    background-color: #3A546D;
}

.my_container_300 {
    width: 300px;
    margin: 0 auto;
}

.my_hr {
    border-top: 3px solid white;
    opacity: 1;
}

.my_hr_dark {
    border-top: 3px solid #2C3E50;
    opacity: 1;
}

.my_form {
    border-top: none;
    border-left: none;
    border-right: none;
}

.my_social_icon {
    border: 1px solid white;
    margin: 0 5px;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    line-height: 2rem;
}

.my_border_white {
    border: 1px solid white;
}

@media all and (max-width: 576px) {
    .my_container_300 {
        width: 80%;
    }
}



